nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #008cdd;
    width: 100%;
  }
  
  nav h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-right: 100px;
  }
  
  nav button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  nav button:first-child {
    margin-left: 0;
  }

